<div class="wrapper">
    <div class="img">
        <img src="img\big-cruise.jpg" alt="Stort fartyg.">
    </div>

    <article class="info_text">
        <h3>BLIND-WEEKEND:</h3>
        <p>Spicy jalapeno bacon ipsum dolor amet turducken lorem salami pork, dolore cow meatloaf ipsum excepteur aliqua. Elit cow dolor sunt pork loin minim ullamco ut qui consectetur velit eu tongue flank turkey. Ham hock swine short loin, ut exercitation proident sunt doner strip steak pork irure laborum cow. Cupidatat ut lorem elit, ribeye filet mignon laboris. Ut non spare ribs magna, esse elit in aliqua minim. Jerky beef aliquip shank ut chicken. Strip steak minim bresaola fatback sausage, consequat meatloaf bacon.</p>
    </article>

    <a href="blind-date-form.html" class="button">Info om dig & Beställ Resa</a>
</div>