<div class="wrapper">
    <input class="name" type="text" placeholder="Hela namnet">
    <input class="age_you" type="number" placeholder="Din ålder">
    <input class="age_them" type="number" placeholder="Andras ålder">
    <textarea class="about_you" name="om dig" id="om dig" cols="auto" rows="auto" placeholder="Kort om dig (max 200 ord)" maxlength="200"></textarea>
    <textarea class="about_them" name="om hen" id="om hen" cols="auto" rows="auto" placeholder="Vad du söker efter (max 200 ord)" maxlength="200"></textarea>
    <a href="order.html" class="button">Beställ Resa</a>
</div>