<div class="wrapper">
    <div class="weekend">
        <a href="weekend.html">
            <img src="img/fint_par.png" alt="Bild på par.">    
            <h3>WEEKEND:</h3>
            <p>Åk på en romantisk weekend.</p>
        </a>
    </div>

    <div class="half-week">
        <a href="half-week.html">
            <img src="img/Cool-ship.jpg" alt="Bild på båt i sydney.">
            <h3>HALF-WEEK:</h3>
            <p>Åk på en kryssning i fyra dagar och upplev en massa romantisk skit.</p>
        </a>
    </div>

    <div class="blind-weekend">
        <a href="blind-weekend.html">
            <img src="img/TheOddsey.jpg" alt="Fin bild på blind date.">
            <h3>BLIND-WEEKEND:</h3>
            <p>Åk på romantisk resa med en blind date som vi matchar dig med.</p>
        </a>
    </div>
</div>