body {
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5187b2;
}

@media only screen and (max-width: 960px) {
    header {
        margin-top: 0px;
        width: 100vw;
        height: 80px;
        background-color: #0070cc;
    }

    header h3 {
        margin-left: 30vw;
    }

    footer {
        margin-bottom: 0px;
        width: 100vw;
        height: 80px;
        background-color: #0070cc;
    }

    footer p {
        margin-left: 5px; 
    }

    h3 {
        font-size: 24px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    p {
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 0px;
        margin-right: 10px;
        color: white;
    }

    .wrapper {
        margin-top: 50px;
        width: 60vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin-top: 10px;
    }

    .name  {
        grid-row: 1/2;
    }

    .age_you {
        grid-row: 2/3;
    }

    .age_them {
        grid-row: 3/4
    }

    .about_you {
        grid-row: 4/5;
    }

    .about_them {
        grid-row: 5/6;
    }

    .button {
        grid-row: 6/7;
        margin-top: 33%;
        margin-left: 10%;
        margin-bottom: 33%;
        margin-right: 10%;
        text-decoration: none;
        background-color: #ff1209;
        color: #ffffff;
        border-top: 1px solid #ff1209;
        border-right: 1px solid #ff1209;
        border-bottom: 1px solid #ff1209;
        border-left: 1px solid #ff1209;
        text-align: center;
        padding-top: 15px;
        border-radius: 15px;
    }
}