body {
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #5187b2;
}

@media only screen and (max-width: 960px) {
    header {
        margin-top: 0px;
        width: 100vw;
        height: 80px;
        background-color: #0070cc;
    }

    header h3 {
        margin-left: 30vw;
    }

    a {
        text-decoration: none;
    }

    .wrapper {
        margin-top: 50px;
        width: 60vw;
        height: 120vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        margin-top: 10px;
    }
    
    h3 {
        font-size: 24px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }

    p {
        margin-left: 10px;
        margin-top: 3px;
        margin-bottom: 0px;
        margin-right: 10px;
        color: white;
    }

    img {
        max-width: 100%;
        height: 50%; 
    }

    .weekend {
        grid-row: 1 / 3; 
        background-color: #0070cc;
    }

    .half-week {
        grid-row: 4/6;
        background-color: #0070cc;
    }

    .blind-weekend {
        grid-row: 7/9;
        background-color: #0070cc;
    }
} 